# grafana-values.yaml

replicas: 1

persistence:
  enabled: false

adminUser: admin
adminPassword: admin123   # CHANGE WHEN WE GO PROD

service:
  type: LoadBalancer
  port: 3000

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        isDefault: true