apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  namespace: data
type: Opaque
stringData:
  username: "admin"  # Change this to your desired username
  password: "YOUR_RABBITMQ_PASSWORD_HERE"  # Change this to a secure password
  erlang-cookie: "YOUR_ERLANG_COOKIE_HERE"  # Generate a random string for Erlang cookie




