apiVersion: v1
kind: Namespace
metadata:
  name: saferoute
  labels:
    name: saferoute
    environment: production
---
apiVersion: v1
kind: Namespace
metadata:
  name: data
  labels:
    name: data
    environment: production
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
    environment: production

