apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: saferoute
  labels:
    app: rabbitmq
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
  - name: amqp
    port: 5672
    targetPort: amqp
  - name: management
    port: 15672
    targetPort: management
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-headless
  namespace: saferoute
  labels:
    app: rabbitmq
spec:
  clusterIP: None
  selector:
    app: rabbitmq
  ports:
  - name: amqp
    port: 5672
    targetPort: amqp

